.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-left: 1rem;
  padding: 15px;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.main {
  padding-top: 150px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
  -webkit-animation: 2s ease 0s normal forwards 1 fadein;
  animation: 2s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.titleContainer {
  width: 100%;
  text-align: center;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 1rem;
  padding-bottom: 5px;
  font-weight: 700;
  width: max-content;
  text-align: center;
  background: -webkit-linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
  background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-size: 0.8rem;
}

@media screen and (min-width: 765px) and (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
  .section {
    max-width: 600px;
  }
  .title {
    font-size: 1.5rem;
    padding-bottom: 5px;
    font-weight: 700;
  }
  .subtitle {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1201px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 1300px;
  }
  .section {
    max-width: 1300px;
  }
  .title {
    font-size: 3rem;
    padding-bottom: 5px;
    font-weight: 600;
  }
  .subtitle {
    font-size: 1.5rem;
  }
}
